@model EntityLayer.Concrete.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}



<script src="~/Content/ckeditor_4.16.0_standard/ckeditor/ckeditor.js"></script>
@*<link href="~/Content/ckeditor_4.16.0_standard/ckeditor/contents.css" rel="stylesheet" />*@

<script>
    CKEDITOR.replace('editor')
</script>

<h1>Yeni Talep Oluştur</h1>
<br />
@using (Html.BeginForm("AddContent", "Content", FormMethod.Post,new { enctype="multipart/form-data"}))
{
<div class="form-group">
    @Html.HiddenFor(x => x.ContentID,  new { @class = "form-control" })
    @*<input type="hidden" name="UserID" value="@ViewBag.d" />*@
    @Html.Label("Açıklama")
    <textarea name="ContentValue" class="ckeditor" required ></textarea>
    <br /><br />

    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-info" id="kaydet">Kaydet</button>
</div>}
