@using EntityLayer.Concrete
@model List<Content>
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_SiteLayout.cshtml"; }

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title"><strong>TALEP</strong></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @*<th>KATEGORİ</th>*@
                    <th width="200px">KATEGORİ</th>
                    <th width="200px">KULLANICI</th>
                    <th width="200px">TARİH</th>
                    <th width="100px">DURUM</th>
                    <th width="500px">AÇIKLAMA</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>@item.Category.CategoryName</td>
        <td>
            @item.User.UserName @item.User.UserLanstName
        </td>
        <td>@(((DateTime)item.ContentDate).ToString("dd MMM yyyy"))</td>
        @*<td>@item.AnnouncementStatus</td>*@
        <td>@item.ContentStatus</td>
        <td>@item.ContentValue</td>       
    </tr>}

        </table>
    </div>
    <!-- /.card-body -->
</div>
<a href="/Content/AddContent/" class="btn btn-primary">Yeni Talep</a>