@model EntityLayer.Concrete.Deliver

@{
    ViewBag.Title = "AddDeliver";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<h2>Yeni Zimmet Alanı</h2>

@using (Html.BeginForm("AddDeliver", "AdminDeliver", FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    @Html.Label("Kullanıcı Adı Soyadı")
    @*@Html.DropDownList("UserID",(SelectList)ViewBag.nameLastName, "Lütfen Kullanıcı Seçiniz", new { @class = "form-control" })*@
    @*@Html.Label("Kullanıcı Soyadı")*@
    @Html.DropDownListFor(x => x.UserID, (List<SelectListItem>)ViewBag.vUsrName, "Kullanıcı seçiniz...", new { @class = "form-control", required = "required" })

    <div class="form-group">
        @Html.LabelFor(model => model.DeliverName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DeliverName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.DeliverName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Resim")
        <input class="form-control " type="file" name="deliverImage" accept=".jpg,.png,.jpeg" required />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DeliverDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DeliverDate, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.DeliverDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <button class="btn btn-success">Zimmetle</button>
}
