@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<h2>Kullanıcı Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditUser", "AdminUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">
    @Html.HiddenFor(x => x.UserID, new { @class = "form-control" })
    <br />
    @Html.Label("Resim")
    <input class="form-control " type="file" name="userImage" accept=".jpg,.png,.jpeg" />
    <br />
    @Html.Label("Departman")
    @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Soyadı")
    @Html.TextBoxFor(x => x.UserLanstName, new { @class = "form-control" })
    <br />
    @Html.Label("Görev")
    @Html.DropDownListFor(x => x.TitleID, (List<SelectListItem>)ViewBag.t, new { @class = "form-control" })
    <br />
    @Html.Label("Mail")
    @Html.TextBoxFor(x => x.UserMail, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.UserPassword, new { @class = "form-control" })
    <br />
    @Html.Label("Durum")
    @Html.EnumDropDownListFor(x => x.UserStatus, new { @class = "form-control" })
    <br />
    @Html.Label("Dahili No")
    @Html.TextBoxFor(x => x.UserExtensionNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Şirket No")
    @Html.TextBoxFor(x => x.UserCompanyNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Role")
    @Html.EnumDropDownListFor(x => x.UserRole, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>}

