@model EntityLayer.Concrete.Announcement
@{
    ViewBag.Title = "AddAnnouncement";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


<style>
    label {
        background-color: white;
        opacity: 0.8;
        border-radius: 4px;
    }
</style>

<h1>Yeni Duyuru Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddAnnouncement", "AdminAnnouncement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">
    @Html.Label("Resim")
    <input class="form-control " type="file" name="ancImage" accept=".jpg,.png,.jpeg" />
    <br /><br />
    @Html.Label("Kategori", new { @style = "color:MidnightBlue" })
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control", @style = "background-color:LightCyan" })

    <br /><br />

    @Html.Label("Duyuru Adı", new { @style = "color:MidnightBlue" })
    @Html.TextBoxFor(x => x.AnnouncementName, new { @class = "form-control", @style = "background-color:LightCyan",required = "required" })


    <br /><br />
    @Html.Label("Duyuru", new { @style = "color:MidnightBlue" })
    @Html.TextAreaFor(x => x.AnnouncementContent, new { @class = "form-control", @style = "background-color:LightCyan", required = "required" })

    <br /><br />
    @Html.Label("Tarih")
    <input class="fake-date " type="datetime-local" name="AnnouncementDate" value="" required/>
    <br /><br />

    <button class="btn btn-info" id="kaydet">Kaydet</button>
</div>
}
<script>
    $('#kaydet').click(function () {
        swal("Tebrikler", "Yeni kategori eklendi!", "success");
    });
</script>
<script>
    function getFullDate(value) {
        var mydate = new Date(value);
        var str = mydate.getMonth() + 1 + '/' + mydate.getDate() + '/' + mydate.getFullYear() + mydate.getHours();
        $("#datetime-local").val(str);
    }
    getFullDate($(".fake-date").val());
    $(".fake-date").change(function () {
        getFullDate($(".fake-date").val());
    });

    function openPage(url) {
        window.open(url);
    }
</script>